<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm"/>
        </p>

        <input type="submit" value="Search"/>
    </form>

    <hr/>

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <div>
        <!-- Just handle the number of results for now.  The rest of the
        html we can get to later.
        In this case, we have at attribute searchResults we displayed above.
        I also displayed the class (ArrayList).  So now we know we can call
        the size() method on it.
        -->
        <!-- Put the number in a separate span html.  There might be a better
        way of doing this, but this appears to work, and we can always change it
        later if we come across something better later.

        You can look for a better way of doing it in the docs here:
        http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#the-good-thymes-virtual-grocery

        Why span?  Span will allow us to add a value with the th:text="${...}"
        html attribute without really changing the display (where div for example
        would put it on the next line).
        -->
        <h3><span th:text="${searchResults.size()}"/> Result(s)</h3>
        <div>
            <!-- Moved the `th:each` stuff to the <table>.  That way
            the <table> element gets repeated instead of the <tr>.

            I also put each element (position type and name) in it's
            own table row (<tr>), so they display vertically.

            Note:  The display of the class is still making the table
            look weird.  I'll fix that the next commit.
            -->
            <table class="job-listing" th:each="result : ${searchResults}">
                <tr>
                    <!-- Again display the class of result.  This will inform
                    me of what methods i can use.
                    -->
                    <td th:text="${result.getClass().toString()}"></td>
                    <td>position type</td>
                    <td th:text="${result.get('position type')}" />
                </tr>
                <tr>
                    <td>name</td>
                    <td th:text="${result.get('name')}" />
                </tr>
            </table>
        </div>
    </div>

    <!-- Don't worry about getting this correct.  Just display something
to make sure we are getting the value here -->
    <p th:text="${searchResults}"/>
    <!-- I'm displing the class here so i know what methods are available below -->
    <p th:text="${searchResults.getClass().toString()}"/>

</div>

</body>
</html>